build/**
package.json
package-lock.json
yarn.lock
node_modules/**
.next/**
coverage/**
.git/**
.idea/**
.*
*.sh
Dockerfile
.ebextensions/*
*.graphql
*.graphql.d.ts
__generated__/**
dist/**
public/spokestack-web-worker.js
.yarn/**
.pnp.cjs
next-env.d.ts
public/*.json
